#photo {
  height: 100px;
  width: 200px;
  float: left;
  padding: 10px;
}

#photo > img {
  max-width: 100%;
  max-height: 100%;
}

.video-info  {
  float: left;
  padding-left: 10px;
  display: block;
}

.video-frame {
  float: left;
}

nav {
  background-color: steelblue;
  border-bottom-style: solid; 
}

footer.page-footer {
  background-color: steelblue;
}

.graph {
  height: 400px;
  width: 680px;
}

.graph > img {
  max-height: 100%;
  max-width: 100%;
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 650px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax img {
  display:block;
}

#signin {
  width: 40%;
  margin: 70px auto;
}
.card-content{
  color: steelblue;
}
#time {
  padding: 20px;
  color: grey;
}

#deletebutton{
  float: right;
  border: none;
  background: none;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  flex: 1 1 auto;
}

.commentAuthor {
  font-weight: bold;
}


